<div class="container">

	<div class="page-header">


	</div>

	<div class="center-block">
		
		<h1>WELCOME TO THE ADMIN PANEL</h1>

		<%=flash[:notice]%>

		<div id="options">
			<h1>MANAGES</h1>

			<strong>INSERT</strong>
			<%=link_to("Add User",{:controller=>"lawyer",:action=>"insert"})%><br><br>
			<strong>UPDATE</strong>
			<%=link_to("update user",{:controller=>"lawyer",:action=>"delete"})%><br><br>
			<strong>DELETE</strong>
			<%=link_to("Delete User",{:controller=>"lawyer",:action=>"delete"})%><br><br>
			<strong>logout</strong>
			<%=link_to("logout",{:controller=>"acess",:action=>"logout"})%><br><br>


		</div>
	</div>

	<div class="page-footer">	



	</div>



</div>