
<div id="form">
	<%=flash[:notice]%>

 <%=form_for(:User,:url=>{:controller=>"acess",:action=>"loginattempt"}) do  -%>
 	<%=label_tag("username")%>
 	<%=text_field_tag("username")%>
 	<%=label_tag("password")%>
 	<%=password_field_tag("password")%>
 	<%=submit_tag("submit")%>
   
 <% end -%>



</div>


