

<div class="container">
	<div id="logout" >
		<h3><%=link_to("Logout",:controller=>"lawyer",:action=>"logout")%></h3>
	</div>

	<div class="topsection">
		<div class="header">
			<h1 class="user animated lightSpeedIn ">WELCOME <%=flash[:name]%></h1>

		</div>

	</div>
	<div class="middlesection">


			<div class="left">
				<div class='profilepic'>

				</div>

				<div style="position:absolute;top:200px;">
					<%=button_to('upload picture')%>
				</div>

				<div class="information" style="position:absolute;top:300px;">

				</div>

			</div>
			<div class="line">
			</div>

			<div class="middle">

				<div class="links">
					<ul>
						<li><a id="u" >Upload documents</a>
					
						<li><a id="p" >Personal Details</a></li>

						<li><a  id="c" >Case Study</a></li>
					</ul>

				</div>		



				<div class="upload" id="upload">
					<h1>Upload Documents</h1>
					<div class="uploadoption" style="position:absolute;top:200px;padding-bottom:100px;">
						<%=form_for(:upload,:url=>{:controlller=>"user",:action=>"upload"}) do |f| -%>
							<%=f.button('upload document')%><br><br>
							<%=f.button('upload picture')%><br><br>
							<%=f.button('upload video')%><br><br>						  
						<% end -%>


					</div>
				</div>	

				<div class="personal" id="personal">
					<h1>Fill Details</h1>
					<div class="personaldetails" style="position:absolute;top:200px;">
						<div>
						<%=form_for(:pesonaldetail,:url=>{:controlller=>"user",:action=>"personaldetail"}) do |f| -%>
						<ul>
							<div>
							<li>
							<%=f.label('LawyerName:')%>	
							<%=f.text_field('lawyername')%>	
							</li> <br> <br>
							</div>
							 <div style="postion:absolute;left:10px;">
							<%=render('space')%>
							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
							<li >
							<%=f.label('Age:')%>	
							<%=f.text_field('age')%>	
							</li> <br><br>
							 </div>

							<div>
							<li>
							<%=render('space')%>
							<%=f.label('Email:')%>	
							<%=f.text_field('email')%>	

							</li> <br><br>
							</div>

							<div>
							<li>
								&nbsp&nbsp	
							<%=f.label('Experience:')%>	
							<%=f.text_field('experiance')%>	
							</li> <br><br>
							</div>

							<div>
							<li>
								&nbsp
							<%=f.label('No of cases:')%>	
							<%=f.text_field('casesno')%>	
							</li> <br><br>
							</div>


							<div>
							<li>
							<%=render('space')%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp	&nbsp&nbsp&nbsp	

							<%=submit_tag('Save Detail')%>	

							</li> 
							</div>
						<% end -%>
						</div>


					</div>


				</div>	
				<div class="casestudy" id="casestudy">
					<h1>CASE STUDY</h1>
					<div style="position:absolute;top:150px;">
					<li><a>Set Reminder</a></li><br><br><br>
					<li><a>Your Uploads</a></li><br><br><br>
					<li><a>Your Details</a></li><br><br><br>
					<li><a id="editor">Web Text Editor</a></li><br><br>

					</div>
					<div id="showeditor" style="position:absolute; top:350px;left:320px; display:none;">
					
						<%=form_tag() do %>
						<code><%=label_tag(' data:text/html, <html contenteditable>')%></code>

						<%end%>

						<strong style="color:#000;">(Copy and Paste the code in url of page and make browser as online editor click on the page to write <br>
						Save the file using  <code>ctrl + s</code>)<strong>
						
					</div>
				</div>	




			</div>

			<div class="right">

			</div>
		
	</div>

	<div class="bottomsection">


	</div>

</div>
