<html>
<head>
	<title>LOGIN PAGE</title>

</head>


<body>

	<div class="container">
		<div id="flashmessage">
			 <%=flash[:notice]%> 

		</div>
		<div class="header">
			<h1>LOGIN PAGE</h1>
		</div>

		<div id="form_login">

			<!-- LOGIN FORM -->

	<%=form_for(:User,:url=>{:controller=>"lawyer",:action=>"loginuser"}) do  -%>
		<ul>
			<li><%=label_tag('username')%></li>
			<li><%=text_field_tag("username")%></li>
		</ul>
		<ul>
			<li><%=label_tag('password')%></li>
			<li><%=password_field_tag("password")%></li><br><br>
			<li><%=submit_tag("Submit")%></li>	
		</ul>
	<% end -%>
		</div>

	</div>



	<div>

	</div>

</body>
</html>