<html>
<head>
	<title>LOGIN PAGE</title>
</head>


<body>


	<div class="container">
		<div class="header">
			<h1>SIGNUP PAGE</h1>
		</div>


		<div id="errors">
				<%if @msg%>

					<%@msg.each do |e|%>
					<ul>
						<li id="error_msg"><%=e%></li>
					</ul>

					<%end%>
				
				<%end%>

			</div>
		<div id="form_signup">
			<div id="nomatch">
			<%if @nomatch%>
			<ul>
				<h1><li><%=@nomatch%></li></h1>

			</ul>
			<%end%>
	
			</div>

			

			<!-- signup FORM -->

				<%=form_for(:User,:url=>{:controller=>"lawyer",:action=>"signupuser"}) do |f| -%>
					<ul>
						<li>Username</li>
						<li><%=f.text_field("username")%></li>
					</ul>
					<ul>
						<li>Password</li>
						<li><%=f.text_field("password")%></li><br>

					</ul>
					<ul>
						<li>Confirm Password</li>
						<li><%=f.text_field("confirmpassword")%></li><br><br>
						<li><%=submit_tag("Submit")%></li>
							
					</ul>



				<% end -%>
		</div>

	</div>



	<div>

	</div>

</body>
</html>